<section class="section lesson {{id}}">
  <div class="container">
    <div class="content">
      <header>
        <h1>{{title}}</h1>
        <p>
          <time datetime="{{formatDate date=date format="timestamp"}}">{{ formatDate date=date format="short" }}</time>
        </p>
      </header>
      {{{ content }}}
    </div>
  </div>
  </div>
</section>