<section class="section lesson {{id}}">
  <div class="container">
    <div class="content">
      <header>
        <h1>{{title}}</h1>
        <p>
          <time datetime="{{formatDate date=date format="timestamp"}}">{{ formatDate date=date format="short" }}</time>
        </p>
        {{#cover}}
          {{> course/cover }}
        {{/cover}}
      </header>
      {{{ content }}}
      <footer>
        {{#prevItem . list=lessons }}
        <div class="lesson-link">
          <span>{{ @root.labels.course.lessons.links.prev }}</span>
          <a href="{{getLink .}}">{{title}}</a>
        </div>
        {{/prevItem }}
        {{#nextItem . list=lessons }}
        <div class="lesson-link">
          <span>{{ @root.labels.course.lessons.links.next }}</span>
          <a href="{{getLink .}}">{{title}}</a>
        </div>
        {{/nextItem }}
      </footer>
    </div>
  </div>
  </div>
</section>