<footer class="footer">
  <p>
    <span>
      &copy; {{ thisYear }}
      <a href="{{ labels.author.homepage }}">{{ labels.author.name }}</a>.</span>
    <a href="#top">{{ labels.footer.top }}</a>
  </p>
  <p class="license">
    {{{labels.footer.license}}}
  </p>
</footer>