<section class="hero">
  <div class="hero-bg">
    <a class="attribution" href="{{ labels.common.hero.cover.attribution.link }}" target="_blank">
      {{{ labels.common.hero.cover.attribution.text }}}
    </a>
  </div>
  <h1>
    <span>{{{ labels.common.hero.title.[0] }}}</span>
    <span>{{{ labels.common.hero.title.[1] }}}</span>
  </h1>
  <div class="actions">
    <a href="{{ getUrl 'course' }}" class="action">{{ labels.links.course }}</a>
    <a href="{{ getUrl 'lessons' }}" class="action">{{ labels.links.lessons }}</a>
  </div>
</section>