<button class="navToggler" aria-label="Toggle Navigation" type="button"></button>
<nav class="nav">
  <ul class="sections">
    <li class="{{ getNavClass 'index' }}">
      <a href="{{ getUrl '' }}">{{ labels.nav.home }}</a>
    </li>
    <li class="{{ getNavClass 'course' }}">
      <a href="{{ getUrl 'course' }}">{{ labels.nav.course }}</a>
    </li>
    <li class="{{ getNavClass 'lessons' }}">
      <a href="{{ getUrl 'lessons' }}">{{ labels.nav.lessons}}</a>
    </li>
    <li class="{{ getNavClass 'faq' }}">
      <a href="{{ getUrl 'faq' }}">{{ labels.nav.faq }}</a>
    </li>
    <li class="{{ getNavClass 'about' }}">
      <a href="{{ getUrl 'about' }}">{{ labels.nav.about}}</a>
    </li>
  </ul>
</nav>