<button class="navToggler" aria-label="Toggle Navigation" type="button"></button>
<nav class="nav">
  <ul class="sections">
    <li class="{{ getNavClass 'index' }}">
      <a href="{{ getUrl '' }}">{{ translate 'nav.home' language }}</a>
    </li>
    <li class="{{ getNavClass 'course' }}">
      <a href="{{ getUrl 'course' }}">{{ translate 'nav.course' language }}</a>
    </li>
    <li class="{{ getNavClass 'lessons' }}">
      <a href="{{ getUrl 'lessons' }}">{{ translate 'nav.lessons' language }}</a>
    </li>
    <li class="{{ getNavClass 'faq' }}">
      <a href="{{ getUrl 'faq' }}">{{ translate 'nav.faq' language }}</a>
    </li>
    <li class="{{ getNavClass 'about' }}">
      <a href="{{ getUrl 'about' }}">{{ translate 'nav.about' language }}</a>
    </li>
  </ul>
</nav>